- in_section :people
- content_for :title do
  Editing #{@person}
- content_for :header do
  %h1="Editing #{@person}"

.row
  .span6.offset3
    = render :partial => "shared/error_messages", :locals => { :target => @person }
    = render :partial => 'form', :locals => { :person => @person }