- in_section :people
- content_for :title do
  New Contact
- content_for :header do
  %h1 Create a New Contact

.row
  .span6.offset3
    = render :partial => "shared/error_messages", :locals => { :target => @person }
    = render :partial => 'form', :locals => { :person => @person }