%br
%br
%b DD-MMM-YY HH:MMpm 
%br
(Example: 18-Apr-2012 10:59pm)
%br
This is the format you should use if you're building the file in Excel. 
%br
%br
%b YYYY/MM/DD HH:MMpm 
%br
(Example: 2012/04/18 5:30pm)
%br
%br