Your CSV file must include all of the following required fields and use only the valid data options described below.  For more help with importing please consult the 
=link_to "Knowledge Base", "https://artfully.zendesk.com/entries/22368622-importing-and-exporting-data"