%table.table-condensed.sortedstar.table#action-list
  %thead
    %tr
      %th.starred &#10029;
      %th Date Occurred
      %th Type
      %th Details
      %th &nbsp;
  %tbody
    - if person.actions.empty?
      %tr
        %td
        %td No actions for this person
        %td
        %td
        %td
    - else
      - actions.each do |action|
        %tr
          %td.starred.starable{"data-person-id" => person.id, "data-type" => 'action', "data-action-id" => action.id }= (action.starred? ? "&#10029;" : "&#10025;").html_safe
          %td= l action.occurred_at_local_to_organization, :format => :short unless action.occurred_at.nil?
          %td=action_and_subtype(action)
          %td= full_details(action)
          %td
            =link_to("Edit", edit_person_action_path(person, action, :format => :html, :type => :hear), :class => "btn btn-mini edit-action-link", :remote => true) if action.action_type == "Hear"
