%table.table
  %tr
    %td Price
    %td=number_as_cents section.price
  %tr
    %td Total Tickets
    %td= section.summary.total
  %tr
    %td On Sale
    %td= section.summary.available
  %tr
    %td Sold
    %td= section.summary.sold
  %tr
    %td Comped
    %td= section.summary.comped