#statement-summary.bottom-room.well
  .row-fluid
    .span3
      .center.headline-stat
        =statement.tickets_sold
      .center.headline-caption
        %h6 TICKETS SOLD
    .span3
      .center.headline-stat
        =number_as_cents statement.gross_revenue
      .center.headline-caption
        %h6 GROSS
    .span3
      .center.headline-stat
        =number_as_cents statement.cc_net
      .center.headline-caption
        %h6 CC NET
    .span3
      .center.headline-stat
        =number_as_cents statement.settled
      .center.headline-caption
        %h6 SETTLED