= form_for chart, :url => assign_chart_path(event) do |form|
  %ul
    %li
      .hidden.label= form.label :id, "Chart"
      .full.paired.element
        = form.select :id, options_from_collection_for_select(@charts, "id", "name")
        = form.submit "Import"