.row

  .span4
    %h3 Importing Donations

    %p This import was created at #{@import.created_at}

    %p= link_to "Back to imports/exports", imports_path, :class => "btn"

  .span8

    %h3 This file is being imported into Artful.ly.
