#help.grouped-form
  SHITTTTT
  %h3 Help
  %span.help{'data-title' => 'Publishing', 'data-content' => "Publishing a show means that your show is displayed on your storefront and all on sale tickets are available for purchase".html_safe} ?