:erb
  <style>
  path {
    stroke: #000;
    stroke-width: 1.5;
    cursor: default;
  }

  tspan {
    cursor: pointer;
  }
  </style>


- content_for :header do
  %h3="Slices: #{@show.event.name} #{l @show.datetime_local_to_organization, :format => :short}"

.row
  .span12
    =select_tag "slice", options_for_select(@select_options, params.fetch(:slice,[])[0])
    =select_tag "slice", options_for_select(@select_options)
    =select_tag "slice", options_for_select(@select_options)

.row
  .span2
    .well
      .stat.bottom-room
        .center.headline-stat=@tickets_sold
        .center.headline-caption
          %h6 TICKETS SOLD
      .stat.bottom-room
        .center.headline-stat#tickets-stat
        .center.headline-caption
          %h6 TICKETS IN SLICE
      .stat.bottom-room
        .center.headline-stat#tickets-pct
        .center.headline-caption
          %h6 PCT OF SLICE
  .span10
    #vis


-content_for :custom_js do
  :erb
    <script>
      var show_id = <%=@show.id%>
    </script>
  = javascript_include_tag 'slicer'

#stats.modal
  .modal-header
    .close{'data-dismiss'=>'modal'} x
    %h3 Slice Stats
  .modal-body
    %p
      Hi 
  .modal-footer
    %button.btn.btn-success{'data-dismiss'=>'modal'} OK