- [:notice, :error, :alert, :info].each do |type|
  - if flash[type]
    .flash{ "data-alert" => "alert", :class => [bootstrapped_type(type), type, 'alert'] }
      .close{ "data-dismiss" => "alert"} &times;
      = flash[type]  